<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="/apps/Lab2020/components/content/search/clientlibs/authorsinfo/css/search.css">-->
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">

      <input type="text"  id="search" placeholder="Search.." name="search">
      <button type="submit" id="submit">Submit</button>
  <div id="result"></div>
  <p></p>

  </div>
</div>
<script>
$("#submit" ).click(function() {


 var fulltext=$('#search').val();
    //alert(fulltext);

  $.ajax({

        type: 'GET',

        url:'/bin/searchFulltext',

        data:{fulltext: fulltext},       

        success: function(data){
  //alert(data.results[0]);
             var size=data.results.length;
             if(size==0){
             $('#result').append("!!Sorry No realted result found");
             }
               // alert(size);
   for(let objIndex = 0; objIndex < size; objIndex++){

        const title=data.results[objIndex]['title'];
       // alert(title);
		const url=data.results[objIndex]['url'];

        $('#result').append($('<div class="col-xs-12" > <a href="' + url +'">' + title +' </a><div class="link">' + url +' </div></div>'));                      					  



        }}

    });
$('#result').html('');


});


</script>




